/**
 * Header
 */

.header {
	&:extend(.page__header);

	&__nav {
		&:extend(.row);

		width: 100%;
	}

	&__item {
		&:extend(.col-sm-6);
	}

	&__item {
		&--home {
			&:extend(.col-xs-9);

			text-align: right;
		}
	}

	&__item {
		&--link {
			&:extend(.col-xs-3);
		}
	}

	.home__link {
		text-align: right;
	}

	.back__link {
		position: relative;
		text-align: left;
		padding-left: unit(48 / 16, rem);

		&__title {
			margin-left: unit(4 / 16, rem);

			display: none;

			@media screen and (min-width: @--xs-min) {
				display: initial;
			}
		}

		&__icon {
			&:extend(.icon__arrow--left);

			position: absolute;
			top: unit(3 / 16, rem);
			left: unit(32 / 16, rem);

			&:before {
				&:extend(.icon__arrow--left:before);
			}
		}
	}
} 