/**
 * Buttons
 */

.button,
[class$="__button"] {
	display: block;
	width: unit(128 / 16, rem);
	height: unit(42 / 16, rem);

	margin: 0;
	padding: 0;

	border: none;
	border-radius: 2px;
	background-color: @--cta--lvl-1;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&.pressed {
		color: @--white;
		background-color: @--cta--lvl-2;
	}

	&:active, {
		background-color: @--cta--lvl-3;
	}

	&:disabled {
		opacity: .55;
		cursor: initial;
		background-color: @--cta--lvl-1;
	}

	.button__title,
	[class$="__button__title"] {
		&:extend(.txt--button);
		text-align: center;
		line-height: unit(42 / 16, rem);
		color: @--white;
	}
} 

