/**
 * Basic settings
 *
 */ 

@--xs-min: unit(480 / 16, rem);
@--sm-min: unit(768 / 16, rem);
@--xm-min: unit(992 / 16, rem);
@--md-min: unit(1024 / 16, rem);
@--lg-min: unit(1200 / 16, rem);

* {
	box-sizing: border-box;
	font-size: 1rem;
}

h1, h2, h3, p {
	font-size: 1rem;
	margin: 0;
}

html {
	position: relative;
    min-height: 100%;
}

body {
	background-color: @--bckground;
	margin: 0;
}