/* Color palette */
@--bckground: #FCFCFC;
@--body: #4a4a4a;
@--note: #9b9b9b;
@--important: #283593;
@--cta: #ff4081;
@--white: #ffffff;

@--black: #333333;
@--orange-yellow: #ffaa00;
@--pale: #fff2d9;
@--darkish-green: #38802d;
@--medium-green: #459b37;
@--french-blue: #3949ab;
@--carnation-pink: #ff80ab;