/**
 *
 */

.page {
	// position: relative;
 //    min-height: 100%;
}

.page__header {
}

.page__content {
	margin-bottom: unit(72 / 16, rem);
}

.page__footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: unit(32 / 16, rem);
}