/* Text styles */
@--font-family: 'OpenSans', sans-serif;

.txt--headline {
	font-family: @--font-family;
	font-size: unit(32 / 16, rem);
	font-weight: 600;
	line-height: 1.4;
}

.txt--subheadline {
	font-family: @--font-family;
	font-size: unit(24 / 16, rem);
	font-weight: normal;
	line-height: 1.2;
}

.txt--button {
	font-family: @--font-family;
	font-size: unit(16 / 16, rem);
	font-weight: 600;
}

.txt--footer {
	font-family: @--font-family;
	font-size: unit(12 / 16, rem);
	font-weight: normal;
	text-align: center;
	color: @--note;
}